/// <reference path="../generic/_references.scss" />
.form-submit,
.btn {
    font-size: 12px;
    letter-spacing: 0.8px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
    color: $red;
    background: transparent;
    line-height: 45px;
    height: 45px;
    padding: 0 20px;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden; /*lange tekst in knoppen loopt uit de knop. overflow:hidden voorkomt dit*/

    &:hover,
    &:active,
    &:focus {
        border-color: $red;
        background: $red;
        color: $white;
    }

    &.btn-block {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    &.btn-disabled {
        cursor: not-allowed;
        opacity: 0.3;
    }

    &.btn-is-loading {
        background-image: url(/Assets/Images/svg/loading-dots.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 8%;
        text-indent: -9999em;
        cursor: wait;
    }

    &.btn-primary,
    &.btn-green,
    &.btn-purchase {
        border-color: $green;
        background-color: $green;
        color: $white;

        &:hover,
        &:active,
        &:focus {
            color: $white;
            border-color: #009864;
            background-color: #009864;
        }
    }

    &.btn-outlined-green {
        border-color: $green;
        color: $black;
        background: #fff;

        &:hover,
        &:active,
        &:focus {
            color: $black;
            border-color: #009864;
        }
    }

    &.btn-blue,
    &.btn-sponsored {
        border-color: $blue;
        background-color: $blue;
        color: $white;

        &:hover,
        &:active,
        &:focus {
            color: $white;
            border-color: darken($blue, 10%);
            background-color: darken($blue, 10%);
        }
    }

    &.btn-outlined-bue {
        border-color: $blue;
        color: $black;
        background: #fff;

        &:hover,
        &:active,
        &:focus {
            color: $black;
            border-color: darken($blue, 10%);
        }
    }

    &.btn-red {
        border-color: $red;
        background-color: $red;
        color: $white;

        &:hover,
        &:active,
        &:focus {
            color: $white;
            border-color: darken($red, 10%);
            background-color: darken($red, 10%);
        }
    }

    &.btn-white {
        border-color: $white;
        background-color: $white;
        color: $red;

        &:hover,
        &:active,
        &:focus {
            color: $white;
            border-color: $red;
            background-color: $red;
        }
    }

    &[disabled] {
        background: #eee;
        color: #aaa;
        border-color: #aaa;
    }

    &.btn-outlined-red {
        border-color: $red;
        color: $black;
        background: #fff;

        &:hover,
        &:active,
        &:focus {
            color: $black;
            border-color: darken($red, 10%);
        }
    }

    &.btn-small {
        height: 34px;
        line-height: 32px;
        border: 1px solid #000;
        margin-left: 10px;
        color: #000;
        text-transform: none;
        font-weight: 500;
        padding: 0 15px;
        letter-spacing: normal;

        &:hover,
        &:active,
        &:focus {
            border-color: $gray-dark;
            background: #fff;
        }

        &.active {
            color: #fff;
            background: #000;
            border-color: #000;
        }

        &.btn-red {
            border-color: $red;
            background-color: $red;
            color: $white;

            &:hover,
            &:active,
            &:focus {
                color: $white;
                border-color: darken($red, 10%);
                background-color: darken($red, 10%);
            }
        }
    }

    &.btn-cta {
        margin: 0 8.33333% 40px;
        width: 83.33333%;

        @include media-breakpoint-down(md) {
            margin: 0 0 20px;
            width: 100%;
        }
    }

    &.btn-clear-favourites {
        position: absolute;
        right: 165px;
        top: 0;
    }

    &.btn-scroll-top {
        position: fixed;
        right: 0;
        bottom: 0;
        border: 1px solid transparent;
        font-size: 26px;
        width: 40px;
        height: 40px;
        outline: 0;
        z-index: 9999;
        display: none;

        &:after {
            position: absolute;
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\e603";
            top: 8px;
            left: 7px;
        }
    }

    &.btn--center {
        display: table;
        margin: 0 auto;
    }

    &.btn--lg {
        padding: 0 100px;
    }

    .icon-arrow {
        font-size: 22px;
        position: relative;
        top: 4px;
        margin-left: 10px;
    }
}

.link-btn {
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    color: $black;
    background: transparent;
    border: 0;
    border-bottom: 2px solid $red;
    text-decoration: none;

    &.link-btn--arw-right:after {
        content: "\e600";
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 10px;
        position: relative;
        top: 1px;
    }

    &:hover,
    &:active,
    &:focus {
        color: $red;
    }
}

.ico-location,
.ico-search,
.ico-list,
.ico-grid,
.ico-filter {
    display: inline-block;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    vertical-align: text-top;
    background: transparent url(/assets/images/icon-filter.png) no-repeat center;
}

.ico-location {
    background-image: url(/assets/images/icon-location.png);
}

.ico-search {
    background-image: url(/assets/images/icon-search.png);
}

.ico-list {
    background-image: url(/assets/images/icon-list.png);
}

.ico-grid {
    background-image: url(/assets/images/icon-grid.png);
}

.btn-switch {
    overflow: hidden;
    display: inline-block;

    .btn {
        float: left;
        outline: 0;
        margin-left: 0;

        @include media-breakpoint-down(md) {
            i {
                display: none;
            }
        }
    }

    .btn:not(:last-child) {
        border-right: 0;
    }

    &.btn-switch-block {
        width: 100%;

        .btn {
            width: 50%;
            text-align: left;
        }
    }
}

%button-icon {
    background: $black;
    color: $white;
    border: 0;
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -9999em;
    position: relative;

    &:before {
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        font-size: 20px;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        top: 10px;
        left: 12px;
        text-indent: 0;
    }

    @include media-breakpoint-up(md) {
        height: 60px;
        width: 60px;

        &:before {
            top: 16px;
            left: 16px;
            font-size: 28px;
        }
    }

    &:hover {
        background: $red;
    }
}




.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5 {
    .btn-cta {
        margin: 0 0 20px;
        width: 100%;
    }
}
