.info-block {
    border: 1px solid #ddd;
    padding: 20px;
    position: relative;
    margin-bottom:20px;
    &__stamp{
        width:83px;
        position:absolute;
        top:-10px;
        right:-10px;
    }
    &__title {
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 900;

        mark {
            color: $red;
            background: transparent;
        }
    }

    &__description {
        font-size: 16px;
        line-height: 21px;
        font-weight: 800;
    }
    *:last-child{
        margin-bottom:0;
    }
    .btn {
        margin-bottom: 0;
    }
}
