

.notification {
    width: 80%;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    margin: -25px 0 0 10%;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    padding: 20px;
    display: none;

    @include media-breakpoint-up(md) {
        margin-left: -300px;
        left: 50%;
        width: 600px;
    }
}
