/// <reference path="../generic/_references.scss" />

$pageIntroductionMargin: 40px;


.page-introduction {
    background-color: $gray-light;
    position: relative;
    color: #4d4d4f;
    margin-bottom: $pageIntroductionMargin;
    font-size: 13px;



    > .container {
        @include media-breakpoint-only(sm) {
            > .row {
                > .col-xs-10.col-sm-11 {
                    margin-left: 19px;
                    flex: 0 0 87%;
                }
            }
        }

        @include media-breakpoint-up(xl) {

            .row {
                margin-top: -5px;
            }

            & > .row > .col-sm-1 {
                position: absolute;
                left: -6%;
            }

            h1 {
                font-size: 30px;
            }
        }
    }

    + .page-introduction {
        margin-top: -$pageIntroductionMargin;
    }


    .breadcrumbs {
        line-height: 21px;
        margin-top: 28px;
        font-size: 13px;
    }

    .page-icon {
        position: relative;
        height: 40px;
        width: 33px;
        padding-right: 11px;
        border-right: 1px solid rgba(77,77,79,0.2);

        @include media-breakpoint-only(xs) {
            border: none;
        }

        img {
            width: 21px;
            position: absolute;
            bottom: 0px;
            left: 0;
        }
    }

    h1 {
        font-weight: 900;
        font-size: 20px;

        @include media-breakpoint-only(xs) {
            margin-top: 20px;
        }
    }

    @include media-breakpoint-up(xs) {
        h1 {
            font-size: 16px;
        }
    }


    @include media-breakpoint-up(md) {

        .container {
            margin: 0 auto;

            h1 {
                font-size: 24px;
                margin-bottom: 30px;
            }
        }

        .page-icon {
            height: 43px;
            width: 48px;
            padding-right: 15px;

            img {
                width: 28px;
            }
        }
    }


    @include media-breakpoint-up(lg) {
        font-size: 17px;

        .page-introduction__text {
            margin: 3px 0 20px;
        }

        .page-icon {
            padding-right: 19px;
        }
    }
}

