.page-tabs {
    background-color: $gray-light;
    position: relative;
    color: #4d4d4f;
    margin: -$pageIntroductionMargin 0 30px;
    box-shadow: 0 -5px 0px 0px #eee inset;
}

.page-tabs__list {
    @include list-unstyled;
    display: flex;
    flex-wrap: wrap;
}

.page-tabs__list-item {
    flex: 1;
    box-shadow: 0 -5px 0px 0px #eee inset;
    font-weight: 800;
    color: $gray-dark;
    padding: 20px 10px;
    /*cursor: pointer;*/
    /*&:hover {
        box-shadow: 0 -5px 0px 0px #ddd inset;
    }*/
    &.done {
        box-shadow: 0 -5px 0px 0px #666 inset;
        color: #666;
        cursor:pointer;

        .page-tabs__description {
            opacity: 1;
        }
    }

    &.active {
        box-shadow: 0 -5px 0px 0px $red inset;
        color: #000;

        .page-tabs__description {
            opacity: 1;
        }

        .page-tabs__title {
            display: inline;
        }
    }
}

.page-tabs__description {
    opacity: 0.5;
}

.page-tabs__title {
    display: none;
}

@include media-breakpoint-up(md) {

    .page-tabs__list-item {
        min-width: 25%;
    }

    .page-tabs__title {
        display: inline;
    }
}
