
.pagination {
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 100%;
    clear: both;
    position: relative;
    margin: 0 0 80px;
    list-style: none;
    padding: 0;

    > li {
        display: inline;
        height: 40px;
        line-height: 36px;
        padding: 0 5px;


        a {
            color: $gray-dark;
            text-decoration: none;
        }

        &.active {
            font-weight: 700;

            a {
                color: $red;
            }
        }
    }

    > li.previous > a,
    > li.previous > span,
    > li.next > a,
    > li.next > span {
        background: $red;
        color: #000;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        text-align: left;
        border: 1px solid transparent;
        font-weight: 800;
        font-size: 15px;
        display: block;
        max-width: 250px;
        width: auto;
        line-height: 36px;
        outline: 0;
        background-color: #efedee;
        height: 40px;
        text-decoration: none;

        &:before {
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            display: block;
            width: 15px;
            height: 20px;
            position: absolute;
            top: 12px;
            font-size: 15px;
            color: #000;
        }
    }


    > li.previous > a,
    > li.previous > span {
        float: left;
        padding-left: 44px;

        &:before {
            content: "\e602";
            left: 11px;
        }

        @media (max-width: 480px) {
            width: 40px;
            padding-left: 0;
            overflow: hidden;
            text-indent: -9999px;

            &:before {
                text-indent: 0;
            }
        }
    }

    > li.next > a,
    > li.next > span {
        float: right;
        padding-right: 44px;

        &:before {
            content: "\e600";
            right: 11px;
        }

        @media (max-width: 480px) {
            width: 40px;
            padding-right: 0;
            overflow: hidden;
            text-indent: -9999px;

            &:before {
                text-indent: 0;
            }
        }
    }
}
