/// <reference path="../generic/_references.scss" />


.section-introduction {
        margin-bottom: 30px;

    &__content {
        border-bottom: 1px solid #9b9b9b;
        padding-top: 120px;
        padding-bottom: 50px;
    }

    h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    @include media-breakpoint-up(lg) {
        &__content {
            padding-top: 180px;
            padding-bottom: 80px;
        }

        h1 {
            font-size: 76px;
            margin-bottom: 0px;
        }

        p {
            margin-top: 1.5rem;
        }
    }
}
