.navigation-activated {
    overflow-y: hidden;
}

#toggle-navigation {
    float: left;
    height: $header-bar-height;
    width: 120px;
    background: transparent;
    color: #fff;
    display: block;
    position: relative;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: $header-bg;
    padding: 0;

    &:before,
    &:after,
    span {
        content: '';
        display: block;
        position: absolute;
        z-index: 30;
        top: 50%;
        left: 20px;
        height: 2px;
        width: 18px;
        background: #fff;
        margin: -1px 0 0 0;
        transition: 0.15s ease-in all;
    }

    span {
        text-indent: 40px;
        z-index: 20;
        display: inline-block;
        line-height: 5px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1.1px;
        z-index: 20;
    }

    &:before {
        margin-top: -7px;
    }

    &:after {
        margin-top: 5px;
    }

    .navigation-activated & {
        span {
            width: 0px;
            margin-left: 0;
        }

        &:before {
            margin-top: -1px;
            transform: rotate(-0.375turn);
        }

        &:after {
            margin-top: -1px;
            transform: rotate(0.375turn);
        }
    }
}

#navigation {
    display: none;
    width: 100%;
    background: #fff;
    position: relative;
    z-index: 2;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;

    .navigation-activated & {
        display: block;
    }
}

.header-navigation {
    a {
        text-decoration: none;
        font-size: 12px;
        letter-spacing: 1px;
        cursor: pointer;
    }

    &__title {
        font-weight: 900;
    }

    &__home {
        svg {
            width: 17px;
            display: inline-block;
            vertical-align: -2px;
            margin-right: 7px;
        }
    }
}

@include media-breakpoint-down(md) {
    .header-navigation {

        &__home {
            svg {
                display: none;
            }
        }

        ul {
            width: 100%;
            display: block;
            padding: 0;
            margin: 0;
            list-style: none;
            background: #fff;
            height: 100vh;
            height: 100vh;
            padding-top: 30px;
        }

        a {
            display: block;
            line-height: 38px;
            padding: 0 35px;
        }

        &__sub-panel {

            ul {
                background: #fff;
                position: absolute;
                top: 0;
                left: 100%;
                z-index: 1;
                transition: 0.2s ease-in left;
            }

            &.active > ul {
                left: 0%;
            }
        }

        &__link {
            color: #000;
            position: relative;

            &[data-target] {
                &:after {
                    content: "\e905";
                    speak: none;
                    font-family: icomoon;
                    font-style: normal;
                    font-weight: 400;
                    font-variant: normal;
                    font-size: 16px;
                    line-height: 24px;
                    text-indent: 0;
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    width: 24px;
                    height: 24px;
                    margin-top: -12px;
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }

        &__title {
            color: #000;
        }

        &__close-current__link {
            background: $red;
            color: #fff;
            margin: 0 0 10px;
            padding-left: 20px;
            text-transform: uppercase;
            position: relative;
            text-indent: 25px;

            &:after {
                content: "\e904";
                speak: none;
                font-family: icomoon;
                font-style: normal;
                font-weight: 400;
                font-variant: normal;
                font-size: 16px;
                line-height: 24px;
                text-indent: 0;
                position: absolute;
                top: 50%;
                left: 10px;
                width: 24px;
                height: 24px;
                margin-top: -12px;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .header-navigation {

        a {
            padding: 0 20px;
        }

        &__link {

            &[data-target] {
                &:after {
                    right: 10px;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .header-navigation {
        background: #fff;
        position: relative;

        a {
            color: #000;
        }

        .header-navigation__sub {
            > li > .header-navigation__title {
                text-decoration: underline;
            }

            a {

                &:hover {
                    color: $red;
                }
            }
        }

        &__main {
            display: block;
            height: 100vh;
            width: 20.412%;
            min-width: 224px;
            padding: 10vh 0 0 22px;
            margin: 0;
            list-style: none;
            background: #fff;

            > li > a {
                line-height: 45px;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 1px;
                padding: 0 10px;
                display: block;

                &:hover {
                    background-color: rgba(155, 154, 155, 0.2);
                }

                &.active {
                    background-color: $red;
                    color: #fff;
                }
            }

            ul {
                display: block;
                padding: 0;
                margin: 0;
                list-style: none;
            }
        }

        &__close-current {
            display: none;
        }
    }

    .header-navigation__main > li > .header-navigation__sub-panel {
        background: #fff;
        width: 79.588%;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 10vh;
        height: 85vh;
        height: calc(90vh - 80px);
        border-left: 1px solid #cdcccd;
        display: none;
        overflow-y: auto;

        &.active {
            display: block;
        }

        > .header-navigation__sub {
            display: flex;
            flex-wrap: wrap;

            > li {
                width: 210px;
                margin: 20px 0 20px 20px;
                display: none;

                &.header-navigation__sub-item {
                    display: block;

                    &.header-navigation__level-2 > .header-navigation__link-parent {
                        display: none;
                    }
                }
            }
        }
    }
}
