.header-bar {
    
    .dropdown {
        height: $header-bar-height;
        min-width: 125px;
        float: left;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: $header-bg;

        &.open {            
            .caret {
               width: 11px;
               height: 11px;
               transform: rotate(45deg);               
               border: none;
               margin-top: -6px;
            }

            .caret:before, .caret:after {
              content: "";
              position: absolute;
              z-index: -1;
              background: #fff;
            }

            .caret:before {
              left: 61%;
              width: 9%;
              margin-left: -15%;
              height: 100%;
            }

            .caret:after {
              top: 60%;
              height: 9%;
              margin-top: -15%;
              width: 100%;
            }

            .dropdown-menu {
                box-shadow: 0px -23px 0px -20px $red;
            }
        }

        .caret {
            position: absolute;
            top: 50%;
            right: 10%;
            margin-top: -2px;
            border-top-width: 3px;
            border-right-width: 3px;
            border-left-width: 3px;
                transition:0.2s ease-in transform;
        }
         
        .caret-lg {
            border-top-width: 5px;
            border-right-width: 5px;
            border-left-width: 5px;
        }

        > a,
        button {
            background: transparent;
            color: $header-color;
            border: 0;
            width: 100%;
            text-align: left;
            padding: 0 20px;
            display: block;
            font-size: 11px;
            font-weight:500;
            text-transform: uppercase;
            letter-spacing: 1px;
            height: $header-bar-height;
            outline: 0;
            position: relative;
            text-decoration: none;
        }
                
        > a {
            line-height: 55px;
            font-size: 12px;
        }
    }

    .dropdown-menu {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1px;
        font-weight: 600;
        width: 100%;
        border:0;

        > li {
            > a {
                height: $header-item-height;
                border-bottom: 1px solid rgba(0,0,0,0.1);
                padding: 0 20px;
                white-space: normal;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-decoration: none;
            }
        }
    }
  
    @media (min-width: 981px) {
        .dropdown {
            position: relative;

            &.open {
                box-shadow: none;
                background: $red;
                font-weight: 700;
            }          
        }

        .dropdown-menu {
            width: 160px;
        }
    }

    @media (min-width: 1281px) {

         .dropdown {                
               button {
                font-size: 12px;
            }
        }
    }
}
