
#identity-switch {
    margin-left: $header-bar-height;
    width: auto;
    position: initial;

    span.iamnavitem {       
        color: $red;
    }

    button {        
        min-width: 200px;        
        max-width: 200px;
        font-size: 14px;
        font-weight: 600;
        padding: 0 0 0 16px;
    }

    .dropdown-menu {
        top: $header-bar-height;
    }

    #identity-switch-button .caret {
        position: relative;        
        top: 0;
        right: 0;
    }

     @media (min-width: 981px) {
         &.open {            
            #identity-switch-button .caret {
                top: 50%;
                right: 8%;
                }
            }
         }

   
    @media (max-width: 981px) {
         &.open {            
            .caret {
               width: 11px;
               height: 11px;
               transform: rotate(45deg);               
               border: none;
               margin-top: -6px;               
            }

            .caret:before, .caret:after {
              content: "";
              position: absolute;
              z-index: -1;
              background: #fff;
            }

            .caret:before {
              left: 61%;
              width: 9%;
              margin-left: -15%;
              height: 100%;
            }

            .caret:after {
              top: 60%;
              height: 9%;
              margin-top: -15%;
              width: 100%;
            }

            .dropdown-menu {
                box-shadow: 0px -23px 0px -20px $red;
            }
        }
    }
    @media (min-width: 981px) {
        position: relative;
        top: 0;
        width: 160px;
        margin-left: 0;
        width: auto; 

        &.dropdown.open .dropdown-menu {
            box-shadow: none; 
        }

    }
}

@media (min-width: 981px) {
     .open#identity-switch .navmaintitle {
         color: black;
     }

    .open#identity-switch .navmaintitle span.iamnavitem {       
            color: white;
    }
    .header-bar .dropdown.open #identity-switch-button .caret {
        position:absolute !important;
        right: 20px;
    }
}