
body {
    //margin-top: $header-bar-height;
}
.header-bar-placeholder {
    height: $header-bar-height;
}
.header-bar {
    background: $header-bg;
    color: $header-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    z-index: $zindex-header;
    height: $header-bar-height;

    &.nav-active {
        background: #fff;
        height: 100vh;
        overflow: hidden;

        &:before {
            content: '';
            background: $header-bg;
            height: $header-bar-height;
            width: 100%;
            position: fixed;
            top: 0px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
        }
    }


    .content-wrapper {
        display: block;
        position: relative;
        z-index: 3;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;

        @include media-breakpoint-up(md) {
            max-width: 740px;
        }

        @include media-breakpoint-up(lg) {
            max-width: 970px;
        }

        @include media-breakpoint-up(xl) {
            max-width: 1180px;
        }
    }

    .navigation-wrapper {
        display: block;
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;

        @include media-breakpoint-up(lg) {
            max-width: 970px;
        }

        @include media-breakpoint-up(xl) {
            max-width: 1180px;
        }
    }
}
