.header-bar {
    .logo {
        position: absolute;
        top: $header-bar-height;
        right: 10px;
        text-align: center;
        display: none;
        width: 180px;
        height: 51px;
        display: block;
        z-index: -1;

        @include media-breakpoint-down(md) {
            width: 105px;
            height: 30px;
        }
    }
}

@include media-breakpoint-down(md) {
    .navigation-activated {
        .header-bar {
            .logo {
                display: none;
            }
        }
    }
}
