/// <reference path="../generic/_references.scss" />
#toggle-search {
    background: #000;
    display: block;
    padding: 0;
    border: 0;
    outline: 0;
    position: relative;
    height: $header-bar-height;
    width: $header-bar-height;

    float:right;
    svg {
        fill: #fff;
        height: 20px;
        width: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin:-10px 0 0 -10px;
    }
}
