
.color1 {
    background: $black;
    color: $white;
}

.color2 {
    background: $red;
    color: $white;
}

.color3 {
    background: $gray-light;
    color: $black;
}

.color4 {
    background: $gray;
    color: $black;
}

.color5 {
    background: $gray-dark;
    color: $white;
}
