@font-face {
    font-family: 'icomoon';
    src: url('/Assets/fonts/icomoon/icomoon.eot?-uje5os');
    src: url('/Assets/fonts/icomoon/icomoon.eot?#iefix-uje5os') format('embedded-opentype'), url('/Assets/fonts/icomoon/icomoon.woff?-uje5os') format('woff'), url('/Assets/fonts/icomoon/icomoon.ttf?-uje5os') format('truetype'), url('/Assets/fonts/icomoon/icomoon.svg?-uje5os#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cards:before {
    content: "\e90d";
}

.icon-creditcard-secured:before {
    content: "\e923";
}

.icon-smiley:before {
    content: "\e924";
}

.icon-marker:before {
    content: "\e613";
}

.icon-poi:before {
    content: "\e91e";
}

.icon-map:before {
    content: "\e91c";
}

.icon-gpslocation:before {
    content: "\e91d";
}

.icon-tram:before {
    content: "\e921";
}

.icon-walk:before {
    content: "\e922";
}

.icon-ferry:before {
    content: "\e91b";
}

.icon-bus:before {
    content: "\e918";
}

.icon-bike:before {
    content: "\e917";
}

.icon-list:before {
    content: "\e912";
}

.icon-hearth:before {
    content: "\e913";
}

.icon-hearth-outlined:before {
    content: "\e914";
}

.icon-search:before {
    content: "\e911";
}

.icon-zoom:before {
    content: "\e609";
}

.icon-calendar:before {
    content: "\e612";
}

.icon-tickets:before {
    content: "\e614";
}

.icon-cart:before {
    content: "\e60f";
}

.icon-citycard:before {
    content: "\e919";
}

.icon-check:before {
    content: "\e60c";
}

.icon-arrow:before {
    content: "\e900";
}

.icon-arrow_left:before {
    content: "\e904";
    color: #000;
}

.icon-arrow_right:before {
    content: "\e905";
    color: #000;
}

.icon-arrow-left:before {
    content: "\e602";
}

.icon-arrow-right:before {
    content: "\e600";
}

.icon-arrow-down:before {
    content: "\e601";
}

.icon-arrow-up:before {
    content: "\e603";
}

.icon-cross:before {
    content: "\e604";
}

.icon-audio:before {
    content: "\e916";
}

.icon-clock:before {
    content: "\e91a";
}

.icon-phone:before {
    content: "\e902";
}

.icon-share:before {
    content: "\e920";
}

.icon-print:before {
    content: "\e91f";
}

.icon-email2:before {
    content: "\e901";
}

.icon-email:before {
    content: "\e605";
}

.icon-facebook:before {
    content: "\e606";
}

.icon-twitter:before {
    content: "\e607";
}

.icon-pinterest:before {
    content: "\e608";
}

.icon-linkedin:before {
    content: "\e60b";
}

.icon-youtube:before {
    content: "\e903";
}

.icon-whatsapp:before {
    content: "\e906";
}

.icon-uit_without:before {
    content: "\e60e";
}

.icon-uit:before {
    content: "\e60d";
}

.icon-genre_healthscience:before {
    content: "\e90b";
}

.icon-UIT_icoon_jeugd:before {
    content: "\e617";
}

.icon-genre_creative:before {
    content: "\e909";
}

.icon-genre_ITC:before {
    content: "\e90c";
}

.icon-genre_finance:before {
    content: "\e90a";
}

.icon-genre_agrifood:before {
    content: "\e908";
}

.icon-genre_realestate:before {
    content: "\e910";
}

.icon-genre_logistics:before {
    content: "\e90e";
}

.icon-genre_aerospaceauto:before {
    content: "\e907";
}

.icon-target:before {
    content: "\e915";
}

.icon-genre_mediaad:before {
    content: "\e90f";
}

.icon-UIT_icoon_muziek:before {
    content: "\e618";
}

.icon-UIT_icoon_tentoonstelling:before {
    content: "\e619";
}

.icon-UIT_icoon_clubbing:before {
    content: "\e615";
}

.icon-UIT_icoon_festival:before {
    content: "\e616";
}

.icon-UIT_icoon_theater:before {
    content: "\e61a";
}
