/* Links */
a {
    color: $red;

    &:hover, &:focus {
        text-decoration: none;
    }
}

.link-list {
    > li {
        margin-bottom:5px;
        line-height:21px;
        font-size:14px;
    }
    a {
        color: $gray-dark;
        text-decoration: underline;
        &:hover, &:focus {
            text-decoration: underline;
            color: #000;
        }
    }
}
