/// <reference path="../generic/_references.scss" />



html {
    font-family: Avenir, sans-serif; // 1
    font-size: 17px;
    line-height: 1.6;
    -ms-text-size-adjust: 100%; // 2
    -webkit-text-size-adjust: 100%; // 2
    @include media-breakpoint-down(xs) {
        font-size: 14px;
    }
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 800;
    line-height: 1.238;
    color: $headings-color;

    a {
        color: $headings-color;
        text-decoration: none;
    }
}



h1, .h1 {
    font-size: 1.875rem;
    font-weight: 900;
}

h2, .h2 {
    font-size: 1.5rem;
}

h3, .h3 {
    font-size: 1.063rem;
}

h4, .h4 {
    font-size: 1rem;
}

h5, .h5 {
    font-size: 0.7075rem;
    font-weight: 900;
    text-transform: uppercase;
}

h6, .h6 {
    font-size: 0.65rem;
    font-weight: 900;
    text-transform: uppercase;
}



.toggled-content {
    height: 110px;
    overflow: hidden;
    position: relative;
    margin: 0;

    &:after {
        content: '';
        background: linear-gradient(to bottom, rgba(255,255,255,0) 74%,rgba(255,255,255,1) 100%);
        display: block;
        height: 110px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        -webkit-transition: background 150ms ease-in;
        transition: background 150ms ease-in;
    }
}


.main-content {
    margin-bottom: 20px;

    h2, h3 {
        font-size: 1.063rem;
        font-weight: 800;
        margin-top: 40px;
    }
}

aside {
    .h2, .h2 {
        font-size: 17px;
    }
}

.section-title,
.social-share .h3,
.related-cards-wrapper h3 /* ter behoeve van business template en voorkomt dubbele css */ {
    font-size: 17px;
    font-weight: 900;
    margin: 40px 0 15px;
    color: #000;
    width: 100%;
    border-left: 4px solid $red;
    padding-left: 6px;

    @extend %clearfix;


    @include media-breakpoint-up(md) {
        margin: 50px 0 30px;
        font-size: 22px;
        line-height: 22px;
        padding-left: 15px;
    }
}

.section-title--small {
    font-size: 16px;
    margin: 10px 0 30px;

    @include media-breakpoint-up(md) {
        padding-left: 6px;
    }
}




.fullsize-block-text {
    font-size: 13px;

    @include media-breakpoint-up(md) {
        margin: 0 8%;
    }
}

small,
.small {
    font-size: 80%;
    font-weight: normal;

    &.explanatory-text {
        font-style: italic;
        font-size: 10px;
        color: #9b9b9b;
    }
}

.line-through {
    position: relative;
    display: inline-block;

    &:after {
        content: '';
        height: 2px;
        background: #000;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
    }
}

.link--styled {
    color: #000;
    font-size: 13px;
}

hr {
    box-sizing: content-box;
    height: 0;
    border: 0;
    border-top: 1px solid $gray;
    margin-top: 10px;
    margin-bottom: 20px;
}

//
// Lists
//

.list-unstyled {
    @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
    @include list-unstyled;

    li {
        display: inline-block;
    }
}

.list-inline-item {
    display: inline-block;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.list-articles {
    time {
        display: inline-block;
        min-width: 90px;
    }

    a {
        text-decoration: underline;
    }
}
.list-checks-wrapper > ul,
.list-checks {
    @include list-unstyled;

    li {
        position: relative;
        padding-left:22px;
        margin-bottom:1em;
        &:last-child{
            margin-bottom:0;
        }

        &:before {
            content: "\e60c";
            font-family: 'icomoon';
            font-size: 14px;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            display: block;
            position: absolute;
            top: 7px;
            left: 0;
            color: $green;
        }
    }
}

.list-icons {
    @include list-unstyled;

    li {
        position: relative;
        margin-bottom: 1em;
        min-height:42px;
        padding-left:75px;

        &:last-child {
            margin-bottom: 0;
        }

        [class^="icon-"], [class*=" icon-"]{
            font-size:38px;
            position:absolute;
            top:0;
            left:0;
            width:55px;
            text-align:center;
        }

    }
}

.list-downloads {
    margin-bottom: 40px;

    li {

        .label {
            color: $black;
            font-weight: 800;
            display: inline-block;
            min-width: 170px;
        }

        a.btn {
            margin-bottom: 8px;
        }
    }
}

@mixin social-background( $color ) {
    background-color: $color;

    &:hover {
        background-color: darken( $color, 10%);
    }
}

.list-social {
    padding: 0;
    margin: 0;

    li {
        display: inline;
    }

    .soc-icon {
        @include social-background( #9d9c9d );
        display: inline-block;
        color: #fff;
        line-height: 30px;
        width: 30px;
        height: 30px;
        font-size: 18px;
        text-align: center;
        text-decoration: none;

        &.facebook {
            @include social-background( #3a629e );
        }

        &.twitter {
            @include social-background( #3ca7dd);
        }

        &.pinterest {
            @include social-background( #cb2027);
        }

        &.linkedin {
            @include social-background( #146e9d );
        }

        span {
            line-height: 30px;
        }
    }

    &.list-social-small {
        .soc-icon {
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 12px;

            span {
                line-height: 20px;
            }
        }
    }
}

.list-articles {
    time {
        display: inline-block;
        min-width: 90px;
    }

    a {
        text-decoration: underline;
    }
}


// Reset margins on paragraphs
//
// Similarly, the top margin on `<p>`s get reset. However, we also reset the
// bottom margin to use `rem` units instead of `em`.
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

blockquote {
    font-size: 1.65em;
    /*&:before {
        content: open-quote;
    }

    &:after {
        content: close-quote;
    }*/
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0; // Undo browser default
}

blockquote {
    margin: 0 0 1rem;
}


.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}
