
@import "generic/normalize";
@import "generic/variables";
@import "generic/functions";
@import "generic/mixins";
@import "generic/responsive_utilities";


@import "base/fonts";
@import "base/typography";
@import "base/colors";
@import "base/links";
@import "base/media";
@import "base/forms";
@import "base/tables";
@import "base/utils";
@import "base/icomoon";

.header-bar {
    text-align: right;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

.logo {
    width: 180px;
    display: inline-block !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

#toggle-navigation,
#toggle-search,
#language-switch,
.header-navigation,
.social-share,
.hidden-print,
.section-footer-search,
.site-footer,
.breadcrumbs,
.page-image,
.slider-object,
.atcb-list,
.tag,
.show-more-dates,
.show-less-dates,
.ad-slot {
    display: none !important;
}

.event-date-calendar .event-dates > ul > li {
    display: block !important;
}

p a,
a.btn {
    &[href^="http://"]:after {
        content: " (" attr(href) ")";
        color: #888;
    }
}
